<th class="col-lg-1"><span class="glyphicon glyphicon-th-large"></span></th>
<th class="col-lg-1"><span class="glyphicon glyphicon-envelope"></span></th>
<th class="col-lg-1"><span class="glyphicon glyphicon-user"></span></th>
<th class="col-lg-1"><span class="glyphicon glyphicon-tag"></span></th>
<th class="col-lg-1"><span class="glyphicon glyphicon-tags"></span></th>