{% extends 'layout.twig' %}
{# block onload %}$("[data-toggle=popover]").popover();{% endblock #}
{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="/airlines">Airlines</a></li>
        <li class="active">{{ airline.Callsign }}</li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">

        <h1>{{ airline.Name }}</h1>
        <hr>
        {% embed 'snipet/aircraft_list.twig' with {'aircrafts' : aircrafts} %}{% endembed %}
        {% embed 'snipet/flight_list.twig' with {'flights' : flights} %}{% endembed %}
    </div>
{% endblock %}