{% extends 'layout.twig' %}

{% block breadcrumb %}
    <ul class="breadcrumb">
        <li><a href="/aircraft">Aircraft Types</a></li>
        <li class="active">{{ aircraft.Model }}</li>
    </ul>
{% endblock %}

{% block content %}

    <div class="row">
        <h1>{{ aircraft.Model }}</h1>
        <hr>
        {% embed 'snipet/buy_aircraft.twig' with {'user' : user, 'aircraftModel': aircraft} %}{% endembed %}
        {% embed 'snipet/flight_list.twig' with {'flights' : flights} %}{% endembed %}
    </div>
{% endblock %}